{% extends "cooking_layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load  enums %}

{% block breadcrumb %}
    /<a href="{% url 'cooking:cooking_index' %}">Cooking</a>
    /<a href="{% url 'cooking:ingredients_index' %}">{% trans 'Ingredients' %}</a>
    /<a href="#">{{ ingredient.name }}</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-6 text-right" style="padding-right: 50px;padding-bottom: 10px">
            {% if perms.cooking.change_ingredient %}
                <a href="{% url 'cooking:ingredient_form' ingredient.id %}" class="btn btn-default"
                   id="update_ingredient_id">
                    <span class=" glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            {% endif %}
            {% if perms.cooking.delete_ingredient %}
                <a href="{% url 'cooking:ingredient_delete' ingredient.id %}"
                   class="btn btn-default" id="delete_ingredient_id">
                    <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans 'Infos' %}</div>
                    <div class="panel-body">
                        <h1>{{ ingredient.name }}</h1>

                        <p>{{ ingredient.type|get_ingredient_type }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Recipes' %}</div>
                <div class="panel-body">
                    {% if recipes %}
                        <ul class="list-group">
                            {% for ir in recipes %}
                                <li class="list-group-item">
                                    <a href="{% url 'cooking:recipe_details' ir.recipe.id %}">{{ ir.recipe.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}