{% extends "cooking_layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load  enums %}

{% block breadcrumb %}
    /<a href="{% url 'cooking:cooking_index' %}">Cooking</a>
    /<a href="{% url 'cooking:recipes_index' %}">{% trans 'Recipes' %}</a>
    /<a href="#">{{ recipe.name }}</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6" style="margin-top: -25px">
            <h1>{{ recipe.name }}</h1>

            <p>{{ recipe.description }}</p>
        </div>
        <div class="col-md-6 text-right" style="padding-right: 50px">
            {% if perms.cooking.change_recipe %}
                <a href="{% url 'cooking:recipe_form' recipe.id %}" class="btn btn-default"
                   id="update_recipe_id">
                    <span class=" glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            {% endif %}
            {% if perms.cooking.delete_recipe %}
                <a href="{% url 'cooking:recipe_delete' recipe.id %}"
                   class="btn btn-default" id="delete_recipe_id">
                    <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            {% endif %}
        </div>
    </div>
    {% if error_message %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Ingredients' %}</div>
                <div class="panel-body">
                    {% if ingredients_recipe %}
                        <ul class="list-group">
                            {% for ir in ingredients_recipe %}
                                <li class="list-group-item">
                                    <span class="badge">{{ ir.quantity }} {{ ir.measurement|get_measure }}</span>
                                    <a href="{% url 'cooking:ingredient_details' ir.ingredient.id %}">{{ ir.ingredient.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Infos' %}</div>
                <div class="panel-body">
                    <div class="col-md-8 col-md-offset-2">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="badge">{{ recipe.num_people }}</span>{% trans 'People' %}</li>
                            <li class="list-group-item"><span class="badge">{{ recipe.difficulty }}</span>{% trans 'Difficulty' %}</li>
                            <li class="list-group-item"><span class="badge">{{ recipe.costs }}</span>{% trans 'Costs' %}</li>
                            <li class="list-group-item"><span class="badge">{{ recipe.global_time }} min</span>{% trans 'Total Time' %}</li>
                            <li class="list-group-item"><span class="badge">{{ recipe.preparation_time }} min</span>{% trans 'Preparartion Time' %}</li>
                            <li class="list-group-item"><span class="badge">{{ recipe.waiting_time }} min</span>{% trans 'Waiting Time' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Process' %}</div>
                <div class="panel-body text-center">
                    <textarea readonly rows="25" cols="100%" style="padding: 15px;margin: 15px">{{ recipe.process }}</textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}