{% extends "cooking_layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load  enums %}

{% block breadcrumb %}
    /<a href="{% url 'cooking:cooking_index' %}">Cooking</a>
    /<a href="{% url 'cooking:recipes_index' %}">{% trans 'Recipes' %}</a>
    /<a href="#">{{ recipe.name }}</a>
{% endblock %}

{% block content %}
    <h1>{% if action == 'modify' %}{% trans 'Recipe Modification' %}{% else %}{% trans 'New Recipe' %}{% endif %}</h1>
    <div class="container">
        {% include 'messages.html' %}
        <div class="row">
            <form action="{% url 'cooking:recipe_add_modif' %}" id="recipe_form" method="post">
                {% csrf_token %}
                {% if recipe %}
                    <input type="hidden" name="id" value="{{ recipe.id }}"/>
                {% endif %}
                <input type="hidden" value="{{ action }}" name="action"/>
                <input type="hidden" value="{{ ingredients }}" name="ingredients"/>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="recipe_name" class="control-label">{% trans 'Name' %}</label>
                        <input type="text" class="form-control" id="recipe_name" name="name" {% if recipe %}value="{{ recipe.name }}"{% endif %}/>
                    </div>
                    <div class="form-group">
                        <label for="recipe_description" class="control-label">{% trans 'Description' %}</label>
                        <textarea class="form-control" row="3" id="recipe_description" name="description">{% if recipe %}{{ recipe.description }}{% endif %}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipe_process" class="control-label">{% trans 'Process' %}</label>
                        <textarea id="recipe_process" rows="25" name="process" class="form-control">{% if recipe %}{{ recipe.process }}{% endif %}</textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="recipe_difficulty" class="control-label">{% trans 'Difficulty' %} /5</label>
                            <input type="number" min="1" max="5" class="form-control" id="recipe_difficulty"
                                   name="difficulty" {% if recipe %}value="{{ recipe.difficulty }}"{% endif %}/>
                        </div>
                        <div class="form-group">
                            <label for="recipe_cost" class="control-label">{% trans 'Cost' %} /5</label>
                            <input type="number" min="1" max="5" class="form-control" id="recipe_cost" name="cost"
                                   {% if recipe %}value="{{ recipe.costs }}"{% endif %}/>
                        </div>
                        <div class="form-group">
                            <label for="recipe_num_people" class="control-label">{% trans 'Number of people' %}</label>
                            <input type="number" min="1" max="50" class="form-control" id="recipe_num_people"
                                   name="num_people" {% if recipe %}value="{{ recipe.num_people }}"{% endif %}/>
                        </div>
                        <div class="form-group">
                            <label for="recipe_preparation_time"
                                   class="control-label">{% trans 'Preparation Time' %}(min)</label>
                            <input type="number" min="1" max="500" class="form-control" id="recipe_preparation_time"
                                   name="preparation_time" {% if recipe %}value="{{ recipe.preparation_time }}"{% endif %}/>
                        </div>
                        <div class="form-group">
                            <label for="recipe_waiting_time" class="control-label">{% trans 'Waiting Time' %}(min)</label>
                            <input type="number" min="1" max="500" class="form-control" id="recipe_waiting_time"
                                   name="waiting_time" {% if recipe %}value="{{ recipe.waiting_time }}"{% endif %}/>
                        </div>
                        <div class="form-group">
                            <label for="recipe_global_time" class="control-label">{% trans 'Global Time' %}(min)</label>
                            <input type="number" min="1" max="500" class="form-control" id="recipe_global_time"
                                   name="global_time" {% if recipe %}value="{{ recipe.global_time }}"{% endif %}/>
                        </div>
                        <div class="col-md-4 col-md-offset-4 text-center">
                            <div class="form-group">
                                <input type="submit" class="btn btn-default"
                                       value="{% if action == 'modify' %}{% trans 'Update' %}{% else %}{% trans 'Add' %}{% endif %}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans 'Ingredients' %}</div>
                    <div class="panel-body">
                        {% if ingredients %}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>{% trans 'Name' %}</th>
                                    <th>{% trans 'Type' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ir in ingredients %}
                                    <tr>
                                        <td>{{ ir.ingredient.name }}</td>
                                        <td>{{ ir.ingredient.type|get_ingredient_type }}</td>
                                        {% if perms.cooking.change_recipe %}
                                            <td><a href="{% url 'cooking:ingredient_recipe_delete' ir.id action %}"
                                                   class="btn btn-default btn-sm" id="delete_ingredient_recipe_id">
                                                <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                        {% if perms.cooking.add_ingredient and 'add' != action %}
                            <div class="form-group">
                                <button type="button" class="btn btn btn-default form-control"
                                        id="add_ingredient" data-toggle="modal" data-target="#add_ingredient_modal">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>

                            <div class="modal fade" id="add_ingredient_modal" tabindex="-1" role="dialog" aria-labelledby="add_ingredient_modal_label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form id="add_ingredient_form" action="{% url 'cooking:add_ingredient_to_recipe' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="recipe_id" value="{{ recipe.id }}"/>
                                            <input type="hidden" name="action" value="{{ action }}"/>

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="add_ingredient_modal_label">{% trans 'Add Ingredient' %}</h4>
                                            </div>
                                            <div class="modal-body">
                                                {% if all_ingredients and all_measurements %}
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group text-center">
                                                                <label for="ingredient_id" class="control-label">{% trans 'Ingredient' %}</label>
                                                                <select class="form-control" name="ingredient_id" id="ingredient_id">
                                                                    {% for ingredient in all_ingredients %}
                                                                        <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                    <label for="quantity_id" class="control-label">{% trans 'Quantity' %}</label>
                                                                    <input type="number" max="5000" min="1" name="quantity" class="form-control"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label for="measurement_id" class="control-label">{% trans 'Measurement' %}</label>
                                                            <select id="measurement_id" name="measurement" class="form-control">
                                                                {% for key,value in  all_measurements.items %}
                                                                    <option value="{{ key }}">{{ value }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="alert-info">
                                                        <p>{% trans 'No ingredients found.' %}</p>

                                                        <p>{% trans 'First add new ingredients.' %}</p>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                                                <button type="submit" class="btn btn-primary">{% trans 'Add' %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}