{% if error_messages %}
    {% for error_message in error_messages %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endfor %}
{% endif %}
{% if info_messages %}
    {% for info_message in info_messages %}
        <div class="alert alert-info" role="alert">{{ info_message }}</div>
    {% endfor %}
{% endif %}
{% if succes_messages %}
    {% for succes_message in succes_messages %}
        <div class="alert alert-success" role="alert">{{ succes_message }}</div>
    {% endfor %}
{% endif %}
{% if warning_messages %}
    {% for warning_message in warning_messages %}
        <div class="alert alert-warning" role="alert">{{ warning_message }}</div>
    {% endfor %}
{% endif %}